AppsSocket/obj/Release/AppsSocket.csproj.App.config
AppsSocket/obj/Release/AppsSocket.csproj.FileListAbsolute.txt
AppsSocket/obj/Release/Package/PackageTmp/Content/Site.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/accordion.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/all.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/autocomplete.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/base.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/button.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/core.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/datepicker.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/dialog.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/draggable.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-icons_222222_256x240.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-icons_2e83ff_256x240.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-icons_454545_256x240.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-icons_888888_256x240.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/images/ui-icons_cd0a0a_256x240.png
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/menu.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/progressbar.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/resizable.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/selectable.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/selectmenu.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/slider.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/sortable.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/spinner.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/tabs.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/theme.css
AppsSocket/obj/Release/Package/PackageTmp/Content/themes/base/tooltip.css
AppsSocket/obj/Release/Package/PackageTmp/Global.asax
AppsSocket/obj/Release/Package/PackageTmp/Images/accent.png
AppsSocket/obj/Release/Package/PackageTmp/Images/bullet.png
AppsSocket/obj/Release/Package/PackageTmp/Images/heroAccent.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList0.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList1.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList2.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList3.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList4.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList5.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList6.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList7.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList8.png
AppsSocket/obj/Release/Package/PackageTmp/Images/orderedList9.png
AppsSocket/obj/Release/Package/PackageTmp/Models/Core.edmx.diagram
AppsSocket/obj/Release/Package/PackageTmp/Scripts/_references.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-1.6.4.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-1.6.4.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-2.1.4.min.map
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-ui-1.11.4.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery-ui-1.11.4.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.signalR-2.2.0.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.signalR-2.2.0.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.unobtrusive-ajax.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.unobtrusive-ajax.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/knockout-3.3.0.debug.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/knockout-3.3.0.js
AppsSocket/obj/Release/Package/PackageTmp/Scripts/modernizr-2.8.3.js
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginConfirmation.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/ExternalLoginFailure.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/Login.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/Manage.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/Register.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/_ChangePasswordPartial.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/_ExternalLoginsListPartial.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/_RemoveExternalLoginsPartial.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Account/_SetPasswordPartial.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Shared/_LoginPartial.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Views/Web.config
AppsSocket/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
AppsSocket/obj/Release/Package/PackageTmp/Web.config
AppsSocket/obj/Release/Package/PackageTmp/favicon.ico
AppsSocket/obj/Release/Package/PackageTmp/packages.config
AppsSocket/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AppsSocket/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AppsSocket/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AppsSocket/obj/Release/TransformWebConfig/assist/Web.config
AppsSocket/obj/Release/TransformWebConfig/original/Web.config
AppsSocket/obj/Release/TransformWebConfig/transformed/Web.config
AppsSocket/obj/Release/_WPPLastBuildInfo.txt
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/Core.csdl
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/Core.msl
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/Core.ssdl
AppsSocket/obj/Debug/AppsSocket.csproj.App.config
AppsSocket/obj/Debug/edmxResourcesToEmbed/Models/applicantSocket.csdl
AppsSocket/obj/Debug/edmxResourcesToEmbed/Models/applicantSocket.msl
AppsSocket/obj/Debug/edmxResourcesToEmbed/Models/applicantSocket.ssdl
AppsSocket/obj/Release/Package/PackageTmp/Models/applicantSocket.edmx.diagram
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/applicantSocket.csdl
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/applicantSocket.msl
AppsSocket/obj/Release/edmxResourcesToEmbed/Models/applicantSocket.ssdl
AppsSocket/obj/Debug/AppsSocket.csproj.FileListAbsolute.txt
AppsSocket/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AppsSocket/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AppsSocket/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
